terms-container {
    padding: 20px;
  }

  .terms-hero {
    background-image: url('/assets/terms-bg.avif');
    background-size: cover;
    padding: 60px;
    text-align: center;
    color: white;
  }
  .terms-hero-overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .subheading {
    font-size: 1.5rem;
    color: aliceblue;
  }

  .terms-content {
    padding: 20px;
  }

  .terms-section {
    margin-bottom: 30px;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2c3e50;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #34495e;
  }

  a {
    color: #2980b9;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .terms-container {
      padding: 20px 4px;
    }

    .terms-hero {
      padding: 50px 10px 10px 10px;;
    }
    
    .terms-hero-overlay {
      background: rgba(0, 0, 0, 0.6);
      padding: 30px 16px;
    }
  
    h1 {
      font-size: 2.2rem;
      margin-bottom: 8px;
    }
   .subheading{
      font-size: 1.2rem;
    }
    
    .terms-content {
      padding: 10px;
    }
  
    .terms-section {
      margin-bottom: 20px;
    }
  
    h2 {
      font-size: 1.8rem;
      margin-bottom: 8px;
    }
  
    p {
      font-size: 1rem;
      line-height: 1.6;
   }
    
  }